html{
  box-sizing: border-box;
  font-family: 'karla';
  font-size: 16px;
  font weight: 400;
}
body {
  padding: 20px;
}
h2,h4,p {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#card {
  width: 600px;
  height: 400px;
  box-shadow: -webkit-box-shadow: 0px 0px 10px -2px #000000; 
  box-shadow: 0px 0px 10px -2px #000000;
  border-radius: 5px;
  overflow: hidden;
}
#top-section{
  width: 100%;
  height: 45%; 
  padding: 25px;
}
#bottom-section {
  width: 100%;
  height: 55%;
  color: white;
  
}
#bottom-left-section {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-color: #2ab2af;
  padding: 25px;
  
}
#bottom-right-section {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: top;
  background-color: #15d6d2;
  padding: 25px;
  
}

#top-section h2 {
  color: #17c2be;
  margin-bottom: 20px;
}
#top-section h4 {
  color: #c0df34;
  margin-bottom: 10px;
}
#top-section p {
  color: #98a6bd;
}

button {
  color: white;
  background-color: #c0df34;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #8CA426;
  transform: scale(1.02);
}

#price {
  font-weight: 700;
  font-size: 1.4rem;
}

#bottom-left-section h4 {
  margin-bottom: 25px;
  
}

#price-frequency, #price {
  display: inline-block;
}

#price-container {
  margin-bottom: 10px;
}

#price-frequency {
  position: relative;
  top: -3px;
  font-size: .8rem;
  opacity: .7;
  margin: 5px;
}

  #bottom-left-section p {
  margin-bottom: 30px;
    font-size: .9rem;
    
}

ul {
  padding: 0px;
  list-style: none;
  font-size: 0.9rem;
  opacity: .8;
  
}
